* {
    margin: 0px;
    padding: 3px;
    font-family: "Century Gothic";
    src: url("../assets/fonts/CenturyGothic.ttf");
}

@font-face {
    font-family: "Century Gothic";
    src: url("../assets/fonts/CenturyGothic.ttf");
}

body {
    background: linear-gradient(0deg, #242424 0%, #242424 25%, #7c003b 100%);
    height: 100vh;
    background-size: cover;
    background-position: top;
}

h1 {
    color: rgb(233, 233, 233);
    font-size: 3em;
    text-align: center;
    margin-top: 0.5em;
}

h2 {
    color: rgb(233, 233, 233);
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: center;
    margin-top: 0.5em;
}

.title {
    position: center;
}

.title tr td h1 {
    color: #fff;
    font-size: 70px;
    font-family: "Century Gothic";

}

.MainTitle a {
    text-decoration: none;
    color: #fff;
}

.MainTitle a h1 {
    padding: 3px;
    margin: 3mm;
    left: 25%;
    position: relative;
    font-size: 70px;
    font-family: "Century Gothic";
    width: fit-content;
    box-shadow: #242424 0px 0px 10px;
}

.MainTitle a h1 .hover {
    animation: Animation 1s ease-in-out infinite;
}

.LinkTable {
    color: #fff;
    width: 90vw;
    height: auto;
    /* border: 1px solid #fdfdfd; */
    margin-top: 0.5em;
    position: relative;
    align-self: center;
    margin-left: 1cm;
    padding: auto;
    text-align: center;
    background: linear-gradient(0deg, #242424 0%, #242424 25%, #7c003b 100%);
    background-size: cover;
    background-position: top;
    border-radius: 1px;
    box-shadow: 10px 10px 10px 10px #242424;
}

.LinkTable tr {
    font-size: 12px;
    font-family: "Century Gothic";
    height: 25px;
    color: #fff;
    text-align: center;
    /* border: 1px solid #fdfdfd; */
}

.LinkTable tr td {
    height: 25px;
    width: 35%;
    text-align: center;
    /* border: 1px solid #fdfdfd; */

}


.LinkTable tr td {
    color: #fff;
    font-size: 16px;
    font-family: "Century Gothic";
    text-align: center;
}

.LinkTable tr td a {
    color: #fff;
    text-decoration: underline;
    text-decoration: #fff;
    font-style: italic;
    font-size: 16px;
    font-family: "Century Gothic";
    text-align: center;
}

.ColNames tr td {
    border: 1px solid #fdfdfd;
}

.logo img{
    position: absolute;
    top: 5px;
    left: 5px;
    margin-left: 1mm;
    margin-top: 1mm;
    opacity: 1;
    width: 100px;
    height: auto;
               
}

.SubTitle {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 1mm;
    margin-top: 1mm;
    padding: auto;
    color: rgb(206, 206, 206);
    font-size: 16px;
    font-family: "Century Gothic";
    text-align: right;
}

.SubTitle a {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 1mm;
    margin-top: 1mm;
    padding: auto;
    color: rgb(206, 206, 206);
    font-size: 16px;
    font-family: "Century Gothic";
    text-align: right;
    text-decoration: none;
}

.header ul {
    list-style-type: none; 
}

.header ul li {
    margin-left: 1mm;
}