<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Refresher</title>
    <link rel="stylesheet" type="text/css" href="static/css/index_styles.css">
</head>

<body>
    <h1>Welcome to the Backend API</h1>
    <p>Please use the APIs described in the documentation to interact with this project.</p>
    <table class="LinkTable">
        <tr>
            <td>App</td><td>URL</td>
        </tr>
        <tr>
            <td>UserApp</td><td><a href="/user/">User Application</a></td>
        </tr>
        <tr>
            <td>StoryApp</td><td><a href="/story/">Story Application</a></td>
        </tr>
        <tr>
            <td>SearchApp</td><td><a href="/search/">Search Application</a></td>
        </tr>        
    </table>
</body>

</html>