<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Refresher</title>
    <link rel="stylesheet" type="text/css" href="static/css/index_styles.css">
</head>

<body>
    <h1>Welcome to the Backend API</h1>
    <p>Please use the APIs described in the documentation to interact with this project.</p>
    <table class="LinkTable">
        <tr>
            <td style="font-size: medium;">App</td>
            <td style="font-size: medium;">URL</td>
        </tr>
        <tr>
            <td>UserApp</td>
            <td><a href= {{ documentation.userapp_docs  }} >User Application Docs</a></td>
        </tr>
        <tr>
            <td>StoryApp</td>
            <td><a href= {{ documentation.storyapp_docs }} >Story Application Docs</a></td>
        </tr>
        <tr>
            <td>LocationApp</td>
            <td><a href= {{ documentation.locationapp_docs }} >Location Application Docs</a></td>
        </tr>
        <tr>
            <td>SearchApp</td>
            <td><a href= {{ documentation.searchapp_docs }} >Search Application Docs</a></td>
        </tr>
    </table>
</body>

</html>