{% extends "base.html" %}
{% load static %}

{% block page_title %}
    DRF Refresher - Home
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_styles.css' %}">
{% endblock %}

{% block main_title %}
    Django Refresher
{% endblock %}

{% block content %}
    <h2>Welcome to the Backend API</h2>
    <p>Please use the APIs described in the documentation to interact with this project.</p>
    <table class="LinkTable">
        <tr class="ColNames">
            <td style="font-size: 3em;">Application</td>
            <td style="font-size: 3em;">Documentation URL</td>
        </tr>
        <tr>
            <td>UserApp</td>
            <td><a href= {{ documentation.userapp_docs  }} >User Application Docs</a></td>
        </tr>
        <tr>
            <td>StoryApp</td>
            <td><a href= {{ documentation.storyapp_docs }} >Story Application Docs</a></td>
        </tr>
        <tr>
            <td>LocationApp</td>
            <td><a href= {{ documentation.locationapp_docs }} >Location Application Docs</a></td>
        </tr>
        <tr>
            <td>SearchApp</td>
            <td><a href= {{ documentation.searchapp_docs }} >Search Application Docs</a></td>
        </tr>
    </table>
{% endblock %}