<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
</head>

<body>
    <div class="header">
        <ul>
            <li>
                <div class="MainTitle">
                    <a href="/">
                        <h1>
                            {% block main_title %}{% endblock %}
                        </h1>
                    </a>
                    <p class="SubTitle"> - <a href={{linkedin_profile}}>Prithoo Medhi</a></p>
                </div>
            </li>
            <li>
                <div class="logo">
                    <a href="/">
                        <img src="static/assets/images/logo_white_150p.png" alt="logo">
                    </a>
                </div>
            </li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    <div>
        &nbsp;
    </div>
    <div class="footer">
        <p>&copy; 2022, Prithoo Medhi (<a href="https://www.github.com/Arkiralor">Arkiralor@GitHub</a>)</p>
    </div>
</body>

</html>