<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        
    DRF Refresher - Home

    </title>
        <link rel="stylesheet" type="text/css" href="static/css/index_styles.css">


    </head>
    <body>
        <div class="header">
            <ul>
                <li>
                    <div class = "MainTitle">
                        <a href="/">
                            <h1>
                            
    Django Refresher

                        </h1>
                        </a>
                        <p class="SubTitle"> - 
                            <a href="https://www.linkedin.com/in/prithoo11335">Prithoo Medhi</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class = "logo">
                        <a href ="/">
                            <img src="static/assets/images/logo_white_150p.png" alt="logo">
                    
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <h2>Welcome to the Backend API</h2>
        <p>Please use the APIs described in the documentation to interact with this project.</p>
        <table class="LinkTable">
            <tr class="ColNames">
                <td style="font-size: 3em;">Application</td>
                <td style="font-size: 3em;">Documentation URL</td>
            </tr>
            <tr>
                <td>UserApp</td>
                <td>
                    <a href= https://documenter.getpostman.com/view/17779018/Uz5JHayD#91ed5d75-c047-4b2a-ade3-17275c1905f6 >User Application Docs</a>
                </td>
            </tr>
            <tr>
                <td>StoryApp</td>
                <td>
                    <a href= https://documenter.getpostman.com/view/17779018/Uz5JHayD#f91e4c95-7b89-4ea0-b273-a3d8fa30c151 >Story Application Docs</a>
                </td>
            </tr>
            <tr>
                <td>LocationApp</td>
                <td>
                    <a href= https://documenter.getpostman.com/view/17779018/Uz5JHayD#d40a3b73-0a38-43ed-84e8-d39b36839722 >Location Application Docs</a>
                </td>
            </tr>
            <tr>
                <td>SearchApp</td>
                <td>
                    <a href= / >Search Application Docs</a>
                </td>
            </tr>
        </table>
    </body>
</html>